{% extends 'db.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/daily.css' %}">
<script src="{% static 'js/popup.js' %}" defer></script>
    <main>
        <form method="POST" class="filter" action="{% url 'report:daily_report_filter' %}">
            {% csrf_token %}
            <label for="month">Select month:</label>
            <select name="month" id="month">
                <option value="0">ALL</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <button class="btn_filter" type="submit">Filter</button>
        </form>
        {% if reports %}
            <table border="1" style="border-color: #c4c4c4; width: 1500px;">
                <tr>
                    <th>name of the report</th>
                    <th>manager's name</th>
                    <th>address</th>
                    <th>sum</th>
                    <th>date</th>
                    <th colspan="2">redactor</th>
                </tr>
                {% for report in reports %}
                        <tr>
                            <td>{{ report.report_name }}</td>
                            <td>{{ report.manager }}</td>
                            <td>{{ report.report_address }}</td>                    
                            <td>{{ report.report_sum }}</td>
                            <td>{{ report.report_date }}</td>
                            {% if user.is_authenticated %}
                                {% if report.report_date.month == today.month %}
                                    <td class="edit"><a href="{% url 'report:edit_report' report.pk %}">edit</a></td>
                                    <td class="edit"><form method="POST" action="{% url 'report:delete_report' report.pk %}">{% csrf_token %}<button type="submit">delete</button></form></td>
                            {% endif %}
                            {% else %}
                                <td colspan="2">View only</td>
                            {% endif %}
                        </tr>
                {% endfor %}
                {% else %}  <div class="message"><p>Нет данных, удовлетворяющих заданным критериям!</p></div>
            </table>
        {% endif %}
        <div class="function">
            <li><a href="{% url 'report:daily_create' %}">Create new report</a></li>
            <!--<li><a id="showPopup" href="{% url 'report:summary_report' %}">Summary</a></li>-->
            <li><a href="{% url 'report:summary_report_second' %}">Summary second</a></li>
        </div>
    </main>
    <div id="accessCodePopup" class="popup">
        <div class="popup-content">
            <form action="{% url 'report:summary_report' %}" method="post">
                {% csrf_token %}
                <label for="access_code">Enter access code:</label>
                <input type="text" id="access_code" name="access_code">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
    <script>
document.addEventListener("DOMContentLoaded", function() {
    var popup = document.getElementById("accessCodePopup");
    function showPopup() {
        popup.style.display = "block";
    }
    function hidePopup() {
        popup.style.display = "none";
    }
    document.getElementById("showPopup").addEventListener("click", function(event) {
        event.preventDefault();
        showPopup();
    });

    // Закрыть всплывающее окно, если пользователь кликает вне его области
    document.addEventListener("click", function(event) {
        if (event.target === popup) {
            hidePopup();
        }
    });
});
    </script>
</body>
</html>
